*{
	position: relative;
	box-sizing: border-box;
}

body {
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #ddd;
}

#gameBoard{
	background-color: #333;
	height: 350px;
	width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 0;
}

.pole{
	height: 200px;
	width: 250px;
	transform: rotate(90deg);
	background-image: url("./photos/pole.png");
	background-repeat: no-repeat;
	background-position: center;
	display: flex;  
	flex-direction: row-reverse;  
	justify-content: flex-start;
	align-items: center;
	z-index: 2;
}

.pole:hover{
	background-color: #444;}

.disk{
	right: 16px;
	height: 130px;
	width: 20px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	z-index: 1;
}

#redDisk{
	background-image: url("./photos/redDisk1.png");
}

#greenDisk{
	background-image: url("./photos/greenDisk2.png");
}

#blueDisk{
	background-image: url("./photos/blueDisk3.png");
}